/* HomePage2.css */

html, body {
    margin: 0;
    padding: 0;
    background-color: #1f1f1f;
    font-family: Arial, sans-serif;
    color: white;
}

/* Card container */
.card-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    margin-top: 5em;
}

/* Card styles */
.card {
    text-decoration: none;
    background-color: #2a2a2a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    height: 400px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card-image {
    width: 50%;
    margin-left: 25%;
    height: 150px;
    margin-top: 8px;
    justify-content: center;
    object-fit: cover;
}

.card-content {
    padding: 1rem;
    text-align: center;
}

.card-title {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    display: block;
    margin-bottom: 1rem;
}

.card-description {
    font-size: 1em;
    color: #ddd;
}

/* Line separator */
.Line {
    border-bottom: 1px solid black;
    padding: 1em 0;
    margin: 0 2em;
}
